*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Container */
.wrapper-70{
  width: 70%;
  margin: auto;
}
/* link */
.adp-link-nostyle{
  text-decoration: none;
}
/* Border */
.adp-border-b{
  border-bottom: 1px solid white;
}


/* TEXT */



/* POSITION */
.adp-rel{
  position: relative;
}
.adp-abs{
  position: absolute;
}
.adp-fix{
  position: fixed;
}
/*Colors and Background Colors */
.adp-white{
  color: white;
}
.adp-bg-green{
  background-color: seagreen;
}
.adp-bg-blue{
  background-color: blue;
}
.adp-bg-gray{
  background-color: gray;
}
.adp-bg-aliceblue{
  background-color: aliceblue;
}

/* Image */
.adp-img-fit{
  width: 100%;
}

/* HEADER */
/* Navbar */
.debug-nav{
  height: 80px;
}

/* MEDIA QUERIES */
@media all and (max-width: 768px){
  .wrapper-100{
    width: 100%;
  }
}
/* .debug-service{
  height: 500px;
} */


