*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.adp-max-width{
  max-width: 2100px;
}


/* link */


/* Border */
.adp-border-b{
  border-bottom: 1px solid white;
}


/* TEXT */



/* POSITION */
.adp-rel{
  position: relative;
}
.adp-abs{
  position: absolute;
}
.adp-fix{
  position: fixed;
}
.adp-va-middle{
  vertical-align: middle;
}




/*Colors and Background Colors */
.adp-black{
  color: black;
}
.adp-white{
  color: white;
}
.adp-lightgray{
  color: gray;
}
.adp-cornflowerblue{
  color: cornflowerblue;
}
.adp-bg-green{
  background-color: seagreen;
}
.adp-bg-darkblue{
  background-color: rgb(19, 19, 71);
}
.adp-bg-blue{
  background-color: rgb(29, 56, 173);
}
.adp-bg-gray{
  background-color: gray;
}
.adp-bg-aliceblue{
  background-color: aliceblue;
}
.adp-bg-white{
  background-color: white;
}
.adp-bg-ocean{
  background-image: url(../img/bg-banner-home.jpg);
  background-size: cover;
}
.adp-bg-blue-gradient{
  background: linear-gradient(180deg, #3039bd 0%, #090baf 100%);
}

/* Image */
.adp-img-fit{
  width: 100%;
}


/* MARGIN AND PADDING */
.adp-margin-bottom{
  margin-bottom: 30px;
}

.adp-padding{
  padding: 50px 0;
}


/* Button */
.adp-btn{
  padding: 10px 10px;
  border-radius: 5px;
}
.adp-btn-xs i{
  font-size: 20px;
  border-radius: 2px;
  padding: 2px 4px;
  color: cornflowerblue;
}
.adp-btn-style{
  background-color: cornflowerblue;
  color: white;
}

/* MEDIA QUERIES */
@media all and (max-width: 768px){
  .wrapper-100{
    width: 100%;
  }
  .adp-serv-pad{
    padding: 0 50px;
  }
  .adp-main-list ul{
    font-size: 120%;
    line-height: 40px;
   }
   .adp-deploy{
    text-align: left;
  }
  .adp-text-table .col-xs-2{
   font-size: 10px;
  }
  .adp-text-table .col-xs-6{
    font-size: 8px;
   }
   .adp-text-table .col-xs-4{
    font-size: 10px;
   }
   .adp-form{
    background-color: white;
    font-size: 20px;
    font-weight: 700;
    margin: 5% 3%;
    padding: 1% 0%;
    border-radius: 5px; 
  }
  .adp-rocker{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    min-width: 250px;
  }
}

@media all and (min-width: 769px) and (max-width: 1199px){
  .wrapper-80{
    width: 80%;
    margin: auto;
  }
  .adp-md-img img{
    width: 90%;
  }
  .adp-table-pad-right{
    padding-right: 100px;
  }
  .adp-table-pad-left{
    padding-left: 100px;
  }
  .adp-text-table .col-xs-2{
    font-size: 10px;
  }
  .adp-text-table .col-xs-6{
     font-size: 8px;
  }
  .adp-text-table .col-xs-4{
     font-size: 10px;
  }
  .adp-row-table .adp-row-table2{
    min-width: 410px;
  }
  .adp-form{
    background-color: white;
    font-size: 20px;
    font-weight: 700;
    margin: 5% 0%;
    padding: 1% 0%;
    border-radius: 5px; 
  }
}



@media all and (min-width: 1200px){
  .wrapper-80{
    width: 80%;
    margin: auto;
  }
  .adp-jumbo h2{
    padding-right: 7%;
  }
  .adp-jumbo p{
    padding-right: 7%;
  }
  .adp-deploy{
    max-width: 360px;
  }
  .adp-table-pad-right{
    padding-right: 35px;
  }
  .adp-table-pad-left{
    padding-left: 30px;
  }
  .adp-row-table .adp-row-table2{
    min-width: 410px;
  }
  .adp-form{
    background-color: white;
    font-size: 20px;
    font-weight: 700;
    margin: 5% 0%;
    padding: 1% 0%;
    border-radius: 5px; 
  }
 .adp-foot-fix{
   
 }
 }
/* ------------------------------------------------------ */


/* HEADER */
/* Navbar */
.adp-nav-fix{
  position: fixed;
  z-index: 9999;
  background-color: white;
  width: 100%;
}

.debug-nav{
  height: 70px;
  line-height: 70px;
}
.adp-img-logo{
  width: 172px;
}
.adp-nav-list ul{
  min-width: 340px;
}

.adp-nav-list ul li{
  display: inline-block;
  list-style: none;
  text-align: left;
  margin-right: 2%;
  font-size: 15px;
}

.adp-btn-nav{
  border: 1px solid cornflowerblue;
  padding: 10px 10px;
  border-radius: 5px;
  color: cornflowerblue;
}
/* Jumbotron */

.adp-margin{
  height: 70px;
}

.adp-jumbo{
  margin: 5% auto;
}
.adp-jumbo h2{
  font-size: 380%;
  line-height: 65px;
}
.adp-jumbo p{
  font-size: 130%;
  line-height: 35px;
  color:rgb(191, 195, 199)
}

    /* Jumbotron-Form */

.adp-input{
  display: block;
  width: 90%;
  height: 45px;
  line-height: 18px;
  margin: 10px auto;
  border: 1px solid rgb(241, 241, 241);
  padding: 10px 10px;
  border-radius: 5px;
}
.adp-input img{
  height: 50%;
  left: 2%;
  top: 50%;
  transform: translatey(-50%);
}
.adp-form h3{
  font-size: 140%;
}
.adp-form h4{
  font-size: 140%;
}

.adp-form p{
  color: rgb(36, 70, 133);
  font-size: 80%;
}
.adp-form p a{
  text-decoration: underline;
  font-size: 80%;
  color: cornflowerblue;
}
/* Jumbo-foot */

.adp-text-jumbo{
  color: gray;
  margin: 50px auto;
}

.adp-link-jumbo{
  text-decoration: none;
  margin: 30px auto;
}
/* MAIN */

/*Main - Deploy */
.adp-main-list ul{
 list-style: none;
 text-align: left;
 border-left: 1px solid gray;
 padding-left: 15px;
 margin-bottom: 20px;
 color: gray;
 line-height: 26px;
}
.adp-main-list ul li{
  
}
.adp-deploy{
  margin-bottom: 15px;
}
.adp-deploy-pad{
  padding: 20px 0;
}

/* Main - designed */
.adp-arrow-abs-left{
  position: absolute;
  top: 50%;
  left: -5%;
  font-size: 30px;
}

.adp-arrow-abs-right{
  position: absolute;
  top: 50%;
  right: -5%;
  font-size: 30px;
}
.adp-slide-text1{
  margin: 50px 0;
}
.adp-slide-text1 h3{
  color: rgb(29, 52, 95);
  font-size: 150%;
  font-weight: 700; 
  margin-bottom: 24px;
}
.adp-slide-text1 p{
  font-size: 150%;
  color: rgb(29, 52, 95);
}

.adp-slide-text2{
  margin: 20px 0 50px 0;
}
.adp-slide-text2 p{
  font-weight: 700;
  font-size: 120%;
  color: rgb(29, 52, 95);
}
/* Main - feature */

.adp-feature-top{
  margin: 60px auto;
}
.adp-feature-top h3{
 font-size: 300%;
}

.adp-feature{
  margin-top: 20px;
}

.adp-feature h4{
 margin-top: 20px;
 font-size: 180%;
}

.adp-feature p{
  font-size: 140%;
}
.adp-feature a{
  font-size: 150%;
  font-weight: 500;
}
/* Main - Service */
.debug-service{
  padding-top: 40px;
}
.adp-table-width {
 font-size: 200%;
}
.adp-row-table{
  border-bottom: 1px solid white;
  padding: 10px 0px;
}
.adp-row-table2{
  padding: 10px 0px;
}
.adp-row-table div a{
  color: aqua;
}
.adp-row-table2 div a{
  color: aqua;
}
/* designed for developers */
.adp-rocker {
 margin-bottom: 30px;
}
.adp-margin-bot{
 margin-bottom: 70px;
}
.adp-margin-bot2{
  margin-bottom: 30px;
  margin-top: 30px;
 }

.adp-img-des{
  margin-top: 40px;
  margin-bottom: 20px;
}
.adp-rocker p{
  font-size: 150%;
}


/* FOOTER */
.adp-footer div img{
  margin-top: 50px;
  margin-bottom: 15px;
}

.adp-social ul li{
  list-style: none;
  display: inline-block;
  }

.adp-social ul li a{
  text-decoration: none;
  color: gray;
}

.adp-foot-col h4{
  color: white;
}

